* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333333;
  text-decoration: none;
}

.container {
  padding: 0 1rem;
}

.btn {
  color: white;
  display: inline-block;
  background: #555;
  text-align: center;
  border: none;
  cursor: pointer;
  padding: 0 1rem;
}

.btn:hover {
  background: rgb(32, 32, 32);
}